/** @format */

/* Global */
:root {
  /* color */
  --color-normal-green: #75d701;
  --color-normal-ivory: #f8f8ff;
  --color-deep-green: #56a902;
  --color-normal-orange: #ff7761;
  --color-deep-orange: #f94e3f;
  --color-white: #ffffff;
  --color-grey: #5e5e5f;
  --color-black: #3f4040;

  /* font */
  --font-family-ko: "Nanum Gothic", sans-serif;
  --font-family-en: "Exo", sans-serif;
  --font-family-jp: "M PLUS 1p", sans-serif;

  /* font size */
  --font-micro: 14px;
  --font-small: 16px;
  --font-regular: 20px;
  --font-medium: 28px;
  --font-large: 48px;
  --font-x-large: 60px;
  --font-2x-large: 80px;
  --font-3x-large: 100px;

  /* font-weight */
  --ko-weight-light: 400;
  --ko-weight-regular: 700;
  --ko-weight-bold: 800;

  --en-weight-light: 100;
  --en-weight-regular: 400;
  --en-weight-bold: 700;

  --jp-weight-light: 100;
  --jp-weight-regular: 400;
  --jp-weight-bold: 700;
}

/* Universal Tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-en);
  background-color: var(--color-normal-ivory);
}

a,
li {
  list-style: none;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--font-family-en);
}

img {
  -webkit-user-drag: none;
}

p {
  user-select: none;
}

.devide-menu {
  display: none;
}

/* -----navbar start-- */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 0;
  border-bottom: solid 1px var(--color-deep-green);
  border-top: solid 1px var(--color-deep-green);
}

.container {
  background-color: var(--color-normal-green);
  /* width: 100vw; */
  position: relative;
}

.area-container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 80px;
}

.area-container h1 {
  font-size: var(--font-large);
  white-space: nowrap;
}

.navbar {
  /* background-color: var(--color-normal-green); */
  display: flex;
  justify-content: space-between;
  padding: 10px 80px;
  align-items: center;
}

.logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-area-left {
  display: flex;
  align-items: center;
}

.logo-img-area {
  width: 60px;
  height: 60px;
}

.menu-hamburgar-icon {
  width: 40px;
  height: 40px;
  display: none;
}

#logo-img,
#hamburgar-img {
  filter: invert(23%) sepia(31%) saturate(3065%) hue-rotate(164deg)
    brightness(89%) contrast(101%);
}

.logo-title h4 {
  font-size: var(--font-regular);
  font-weight: var(--en-weight-bold);
  color: var(--color-black);
  position: relative;
  padding-left: 10px;
  line-height: 20px;
}

.logo-title h4 > span {
  font-size: var(--font-micro);
  font-weight: var(--en-weight-light);
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.menu-items {
  font-family: var(--font-family-en);
  font-size: var(--font-small);
  font-weight: var(--en-weight-regular);
  color: var(--color-black);
  padding: 0 20px;
}

.sub-btn {
  font-size: var(--font-micro);
  font-weight: var(--en-weight-light) !important;
  padding: 0 0 !important;
}

.mode-change {
  margin-left: 20px;
  font-weight: var(--en-weight-regular) !important;
}
/* -----navbar end----- */

/* section : home */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  user-select: none;
  /* flex-wrap: nowrap; */
  /* background-image: url("../img/icon/icon-keyboard.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: top; */
}

.home-left {
  flex-basis: 50%;
}

.home-right {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
}

.home-left-div > h1 {
  font-size: var(--font-2x-large);
}

.wecoder-desc h3,
.wecoder-div {
  display: inline;
}

.wecoder-div {
  position: relative;
}

#wecoder {
  background-color: #3f4040;
  color: #f8f8ff;
}

#fourteenth {
  color: var(--color-deep-orange);
  font-weight: var(--en-weight-bold);
  font-size: var(--font-large);
}

#wecoder {
  font-size: var(--font-large);
  font-weight: var(--en-weight-light);
}

.home-left-div > h4 {
  font-size: var(--font-regular);
  font-weight: var(--en-weight-light);
}

.home-right img {
  width: 150px;
  height: 150px;
  opacity: 0.7;
}
#icon-keyboard {
  align-self: flex-start;
}

#icon-code {
  width: 100px;
  height: 100px;
  align-self: flex-end;
}

#icon-mouse {
  align-self: flex-start;
  width: 80px;
  height: 100px;
}

#icon-coffee {
  align-self: flex-end;
  width: 80px;
  height: 80px;
}

.about-left-div,
.experience-left-div,
.interest-left-div,
.contact-left-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-backimg {
  width: 380px;
  height: 380px;
  position: relative;
  top: -70px;
  left: 30px;
}

.arrow-img {
  display: inline-block;
  width: 70px;
  height: 70px;
}

#home-left h1 {
  font-size: var(--font-big);
  padding-right: 10px;
  display: inline;
}

#home-left h1 span {
  color: var(--color-deep-orange);
}

.stroke-line {
  border: solid 1px var(--color-grey);
  padding: 0 80px;
  width: 100%;
}
/* end home */

/* .area-container {
  padding: 20px 80px;
} */

/* about start*/
.about {
  background-color: var(--color-normal-ivory);
}

.about-title-div,
.experience-title-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-icon-close {
  width: 40px;
  height: 40px;
}

.content-div ul {
  padding: 0;
  font-size: var(--font-regular);
  font-weight: var(--en-weight-light);
}
.content-div li {
  padding: 4px 0;
}

.about-content-title {
  display: flex;
}

.about-title-left {
  flex-basis: 50%;
}
.about-title-right {
  flex-basis: 50%;
}

.about-title-media {
  display: none;
}

.about-content {
  display: flex;
  /* flex-wrap: wrap; */
}

.frontend {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
}

.backend {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
}

.about-content-div {
  border: solid 1px var(--color-deep-green);
  margin: 10px 10px;
  position: relative;
  max-height: 200px;
  min-width: 200px;
}

.about-img {
  width: 200px;
  height: 200px;
  padding: 20px 20px;
  /* border-radius: 50%; */
}

.etc {
  display: flex;
  flex-wrap: wrap;
}
.etc-items {
  display: flex;
  flex-wrap: wrap;
}

.etc-aws {
  min-width: 200px;
  min-height: 200px;
  position: relative;
}

.plus-letter {
  font-size: var(--font-3x-large);
  font-weight: var(--en-weight-light);
  color: var(--color-deep-green);
  line-height: 200px;
  margin-left: 33%;
}

.emptybox {
  opacity: 0.2;
}

.blackbox {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--color-black);
  opacity: 0;
  position: absolute;
}

.study-percentage {
  position: absolute;
  display: inline;
  line-height: 200px;
  font-size: var(--font-large);
  color: var(--color-normal-ivory);
  margin-left: 30%;
  display: none;
}

.about-content-div:hover .study-percentage {
  display: inline;
}
.about-content-div:hover .blackbox {
  opacity: 0.7;
}

/* -----project----- */
.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-items {
  border: solid 1px var(--color-deep-green);
  margin: 10px;
  display: flex;
}

.project-thumbnail {
  width: 200px;
  height: 200px;
  filter: invert(61%) sepia(38%) saturate(2069%) hue-rotate(320deg)
    brightness(102%) contrast(115%);
  opacity: 0.3;
  padding: 0 20px;
}

.project-item-desc {
  padding: 40px 10px;
}

.project-desc-title {
  font-size: var(--font-medium);
  font-weight: var(--en-weight-regular);
}

.interest-contents {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.interest-content img {
  max-width: 150px;
  max-height: 150px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

.contact {
  padding: 0 80px;
}

.contact-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.contact-input {
  min-width: 300px;
}

.contact-input input {
  margin: 4px 0px;
  padding: 0 20px;
  min-width: 430px;
  min-height: 50px;
  display: inline;
}

.contact-input textarea {
  overflow: auto;
  box-shadow: none;
  resize: none;
  padding: 20px 20px;
  margin: 4px 0px;
}

.input-text {
  text-decoration: none;
  border: none;
  outline: none;
  font-family: var(--font-family-en);
  border: solid 1px darkgray;
}

.input-text-content {
  width: 100%;
  display: block;
}

.bt-send {
  margin: 20px 20px;
  background-color: var(--color-black);
  color: var(--color-normal-ivory);
  border-radius: 40px;
  min-width: 200px;
  min-height: 50px;
  font-size: var(--font-medium);
  font-weight: var(--en-weight-regular);
}

.contact-icon-area {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 80px;
  width: 300px;
  text-align: center;
}

.contact-icon-area img {
  max-width: 40px;
  max-height: 40px;
  opacity: 0.7;
  margin: 0 16px;
}

.footer {
  background-color: var(--color-grey);
  min-height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer div {
  text-align: center;
  line-height: 40px;
  color: var(--color-normal-ivory);
  font-weight: var(--en-weight-regular);
  font-size: var(--font-micro);
  opacity: 0.3;
}

/* -----media-query----- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* do nothing */
  ...;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .logo-area {
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    margin: 0 -40px;
  }

  .menu-hamburgar-icon {
    display: block;
    position: relative;
    top: -5px;
  }

  .menu-btn {
    width: 100%;
  }

  .menu-btn-sub {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .sub-btn {
    font-size: var(--font-micro) !important;
    font-weight: var(--en-weight-bold) !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .logo-area {
    align-self: flex-start;
  }

  .menu-items {
    display: block;
    padding: 6px 0 !important;
    width: 100%;
    margin: 0;
  }

  .menu-btn-sub span {
    display: none;
  }

  .devide-menu {
    display: block;
    border: dashed 1px var(--color-white);
  }

  .menu-btn-sub button {
    color: var(--color-black);
    font-size: var(--font-small);
    font-weight: var(--en-weight-regular) !important;
  }

  .navbar-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .about-description li {
    font-weight: var(--en-weight-regular);
  }

  .etc-items {
    display: block;
  }

  .project-items {
    flex-direction: column;
  }

  .project-item-img {
    margin: 0 auto;
  }

  .project-item-desc {
    padding: 10px 10px;
  }

  .interest-contents {
    justify-content: center;
    align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .logo-area {
    align-self: flex-start;
    margin-bottom: 10px;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  .home > div {
    margin-bottom: 50px;
  }

  .about-description li {
    font-weight: var(--en-weight-regular);
  }

  .img-icon-close {
    display: none;
  }

  .about-content-title {
    display: none !important;
  }

  .about-title-media {
    display: block;
    margin: auto;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .etc {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .media-about-area {
    /* flex-basis: content; */
    /* flex-direction: column; */
    justify-content: center;
    margin-bottom: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* do nothing */
  ...;
}
